@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.left{
    width: 40vw;
    background: url("./image/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    min-width: 340px;
    position: relative;
}
.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    font-size: x-large;
    line-height: 4rem;
    font-family: 'Skranji', cursive;
}
.left p {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
}

img{
    width: 2.5rem;
}

.right{
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.message{
    padding: 10px;
    padding-top: 100px;
    background-color: #F9FAFB;
    margin:20px ;
    font-weight: 400;
    text-align: justify;
    font-size: 1.5rem;
}
form{
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

fieldset{
    border: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin: 20px;
   
}
form div {
    display: flex;
    flex-direction: column;
}
.form p {
    margin: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    
}
input{
    padding: 5px;
    outline: none;
    border: 2px solid #E5E7EB;
    border-radius: 5px;
}
input:focus{
   border: 2px solid blue;
}
label{
    font-size: 0.8rem;
    text-transform: uppercase;
}

button{
    background-color:  #596D48;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    margin: 20px 0 0 20px;
    border-radius: 5px;
}
.form h3 {
    margin: 10px 20px;
    font-size: 1rem;
    font-weight: normal;
}
.form h3 span a {
    text-decoration: none;
    color:  #596D48;
}

@media (min-width:780px) and (max-width:1440px){
    .container{
        width: 100vw;
    }
    .left,.right{
        width: 100vw;
    }
    fieldset{
        grid-template-columns:repeat(2,1fr);
    }

}
@media (max-width:780px) {
    .container{
        flex-direction: column;
        width: 100vw;
    }
    .left,.right{
        width: 100vw;
        height: 100vh;
    }
    .right{
        justify-content: center;
    }
    fieldset{
        grid-template-columns:repeat(1,1fr);
    }

}