@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.left{
    width: 40vw;
    background: url("./image/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100vh;
    min-width: 340px;
    position: relative;
}
.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    font-size: x-large;
    line-height: 4rem;
    font-family: 'Skranji', cursive;
}
.left p {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
}

img{
    width: 2.5rem;
}

.right{
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.message{
    padding: 10px;
    padding-top: 100px;
    background-color: #F9FAFB;
    margin:20px ;
    font-weight: 400;
    text-align: justify;
    font-size: 1.5rem;
}
.form{
    padding: 20px;
}

fieldset{
    border: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin: 20px;
   
}
form div {
    display: flex;
    flex-direction: column;
}
input{
    width: fit-content;
}
